.navbar {
    background-color: rgba(89, 134, 173, 0.187);
    padding: 15px 0;

}

.navbar a {
    color: rgba(18, 25, 27, 0.84) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.link {
    padding: 5px 15px !important;
}

.link:hover {
    background-color: rgb(196, 108, 220);
    border-radius: 15px;
    color: rgba(127, 202, 227, 0.749)
}